#acc-container{
  width: 50%;
  margin: 20px auto auto;
}

#ad-adder{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#edit-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#title{
  width: 50%;
  margin: auto;
  text-align: center;
}



